.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
}

.errorMessage {
  text-align: center;
  font-size: 1.5em;
  color: rgb(var(--destructive));
  padding: 1.5rem;
}

.card {
}
