:root {
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --background: 255, 255, 255;
  --foreground: 9, 9, 11;
  --card: 255, 255, 255;
  --card-foreground: 9, 9, 11;
  --popover: 255, 255, 255;
  --popover-foreground: 9, 9, 11;
  --primary: 225, 29, 72;
  --primary-foreground: 255, 241, 242;
  --secondary: 244, 244, 245;
  --secondary-foreground: 24, 24, 27;
  --muted: 244, 244, 245;
  --muted-foreground: 113, 113, 122;
  --accent: 240, 4.8, 95.9;
  --accent-foreground: 244, 244, 245;
  --destructive: 239, 68, 68;
  --destructive-foreground: 255, 255, 255;
  --border: 228, 228, 231;
  --input: 228, 228, 231;
  --ring: 225, 29, 72;
  --radius: 0.5rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 12, 10, 9;
    --foreground: 255, 255, 255;
    --card: 28, 25, 23;
    --card-foreground: 255, 255, 255;
    --popover: 23, 23, 23;
    --popover-foreground: 255, 255, 255;
    --primary: 225, 29, 72;
    --primary-foreground: 255, 241, 242;
    --secondary: 39, 39, 42;
    --secondary-foreground: 255, 255, 255;
    --muted: 38, 38, 38;
    --muted-foreground: 159, 159, 168;
    --accent: 41, 37, 36;
    --accent-foreground: 255, 255, 255;
    --destructive: 177, 29, 29;
    --destructive-foreground: 254, 242, 242;
    --border: 39, 39, 42;
    --input: 39, 39, 42;
    --ring: 225, 29, 72;
  }
}

/* Remove annoying default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
  color: inherit;
  background: none;
  border: none;
  outline: none;
  text-decoration: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

body {
  background-color: rgb(var(--background));
  color: rgb(var(--foreground));
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
