.author {
  margin-bottom: 1em;
  font-size: 1.2em;
  text-align: center;
  color: rgba(var(--muted-foreground), 0.6);
}

.lines {
  white-space: pre-line;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
  padding: 1rem;
  gap: 1rem;
}
